.pokemon_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 10px;
    max-width: 1200px;
    margin: 2rem auto;
}

.pokemon_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 5px 0;
    box-shadow: 4px 4px 4px #21212130;
    transition: 0.2s;
    cursor: pointer;
}

.pokemon_card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 #21212170;
}

.pokemon_img {
    width: 150px;
    height: 150px;
    margin: 5px 0;
}

.pokemon_nameId {
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: #4c4c4c;
    color: #f2f2f2;
    font-weight: bold;
    text-transform: capitalize;
    padding: 4px 8px;
    border-radius: 10px;
    width: 70%;
}